{% extends 'mainapp/base.html' %}

{% block content %}
<h1 class="text-center mt-5 pt-5">Add video</h1> 
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Video</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Put video">
</div>
<div class="mb-3">
    <label for="exampleFormControlInput2" class="form-label">Name</label>
    <input type="email" class="form-control" id="exampleFormControlInput2" placeholder="Enter video name">
</div>
<div class="mb-3">
    <label for="exampleFormControlInput2" class="form-label">Thumbnail</label>
    <input type="email" class="form-control" id="exampleFormControlInput2" placeholder="Put thumbnail">
</div>
<button type="button" class="btn btn-success">Submit</button>
{% endblock %}