{% extends 'mainapp/base.html' %}

{% block content %}
<h1 class="text-center mt-5 pt-5">Login</h1> 
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Login</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter login">
</div>
<div class="mb-3">
    <label for="exampleFormControlInput2" class="form-label">Password</label>
    <input type="email" class="form-control" id="exampleFormControlInput2" placeholder="Enter password">
</div>
<button type="button" class="btn btn-success">Register</button>
{% endblock %}